.wrap{
    perspective: 800px;
    perspective-origin: 50% 100px;
    background-color: bisque;
    height: 1000px;
    padding:200px;
}
.cube{
    width: 200px;
    height:200px;
    position: relative;
    margin:50px auto;
    transform-style: preserve-3d;
    animation:myAnima 5s linear;
}
.surface{
    height:200px;
    width:200px;
    position: absolute;
    display: none;
    text-align:center;
}
.top{
    background-color: rgba(255,0,0,0.7);
    transform: translateY(-200px) rotateX(90deg);
    transform-origin: bottom;
    display: block;
}
.bottom{
    background-color: rgba(255,165,0,0.7);
    transform: translateY(200px) rotateX(270deg);
    transform-origin: top;
    display: block;
}
.left{
    background-color: rgba(255,255,0,0.7);
    transform: translateZ(-200px) rotateY(270deg);
    transform-origin: left;
    display: block;
}
.right{
    background-color: rgba(0,255,0,0.7);
    transform: translateZ(-200px) rotateY(90deg);
    transform-origin:right;
    display: block;
}
.front{
    background-color: rgba(0,0,255,0.5);
    display:block;
}
.back{
    background-color: rgba(128,0,128,0.7);
    transform: translateZ(-200px) rotateY(180deg);
    display:block;
}
@keyframes myAnima{
    0%{left:0;top:0;}
    100%{transform: rotateY(360deg);transform-origin:100px 100px -200px;}
}





